<li class="recipe">
  <div class="recipe-border">
    <div class="row">
      <div class="span5">
        <span class="thumbnail-well">
          <img class="thumbnail" src="/cookbook/images/<%= recipe.slug %>.png" width="262" height="175" alt="<%= recipe.title %>">
        </span>
      </div>
      <div class="span8">
        <a href="/cookbook/recipes/<%= recipe.slug %>" class="short-description">
          <h2><%= recipe.title %></h2>
          <span class="date"><%= recipe.date %></span>
          <p><%= recipe.description %> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquet fermentum quam. Nam odio dolor, interdum ut accumsan in, volutpat facilisis urna. Duis eget felis erat. Cras vel rhoncus nulla. Nulla lacus urna, fringilla sit amet semper eget, tincidunt sed sem. Praesent tellus ante, aliquam ut varius a, tincidunt ut augue. Nullam a sapien in augue tincidunt placerat fringilla eu purus. Aenean sed sem id nibh tempus iaculis. Etiam sed lectus sapien, id iaculis tortor. Nunc aliquam mi a leo ornare nec congue nisl luctus. Praesent tincidunt dictum vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean adipiscing adipiscing eros ut cursus. Vestibulum neque leo, scelerisque eget sagittis eu, sagittis ut elit.</p>
          <% recipe.categories.each do |category| %>
            <span class="left label warning"><%= category.title %></span>
          <% end %>
          <em class="left pull-right">Read more &raquo;</em>
        </a>
      </div>
    </div>
  </div>
</li>
