<header class="hero-unit">
  <h1><%= @recipe.title %></h1>
  <p><%= @recipe.description %></p>
</header>
<div id="recipe-view" class="recipe">
  <div class="row">
    <div class="span6">
      &nbsp;
    </div>
    <div class="span8">
      <h1><%= @recipe.title %></h1>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <span class="thumbnail-well">
        <img class="thumbnail" src="/cookbook/images/<%= @recipe.slug %>.png" width="262" height="175" alt="<%= @recipe.title %>">
      </span>
    </div>
    <div class="span8">
      <span class="date"><%= @recipe.date %></span>
      <h3>Ingredients</h3>
      <ul class="unstyled">
        <% @recipe.ingredients.each do |ingredient| %>
          <li><%= ingredient.body %></li>
        <% end %>
      </ul>
      <h3>Directions</h3>
      <ol>
        <% @recipe.directions.each do |direction| %>
          <li><%= direction.body %></li>
        <% end %>
      </ol>
      <a class="btn primary pull-right" href="/cookbook/">Go Back</a>
    </div>
  </div>
</div>
